body {
  background-color: #fff7e9;
  font-family: Calibri;
}

.code {
  background-color: #ffe17f;
  padding: 3px 5px;
  border-radius: 13px;
  cursor: pointer;
}

.code:hover {
  background-color: #ffda60;
}

a {
  color: #67afe9;
  text-decoration: none;
  padding: 3px 5px;
  display: inline-block;
  border-radius: 10px;
}

/* Изменять только нижние стили */
.container {
}
.header {
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  column-gap: 15px;
  align-items: center;
  background-color: black;
}

.header__logo {
  width: 110px;
  height: 50px;
}

.header__menu {
  list-style: none;
  display: flex;
  column-gap: 20px;
  padding: 0;
}

body {
  height: 200vh;
  margin: 0;
  padding: 0;
}
