body {
  background-color: #fff7e9;
  font-family: Calibri;
  height: 200vh;
}

.code {
  background-color: #ffe17f;
  padding: 3px 5px;
  border-radius: 13px;
  cursor: pointer;
}

.code:hover {
  background-color: #ffda60;
}

a {
  color: #67afe9;
  text-decoration: none;
  padding: 3px 5px;
  display: inline-block;
  border-radius: 10px;
}

/* Изменять только нижние стили */
.container {
}

.btn-modal {
  background-color: #67afe9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.5);
  z-index: 5;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  background-color: white;
  border: 1px black solid;
  border-radius: 0.5rem;
  z-index: 10;
  display: none;
}

.active {
  display: block;
}

.modal__header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin: 0;
}

.modal__close {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  background-color: gray;
  transform: translate(-50%, -50%) rotate(45deg);
  transition-duration: 0.2s;
}

.modal__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  background-color: gray;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition-duration: 0.2s;
}

.modal__close:hover::after,
.modal__close:hover::before {
  background-color: red;
}

.modal__content {
  padding: 15px;
  border-block: 1px solid #ccc;
  display: grid;
  row-gap: 15px;
}

.modal__content p {
  margin: 0;
  font-size: 18px;
}

.modal__content span {
  font-size: 15px;
  color: gray;
}

.modal__actions {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.modal__btn-close {
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: darkgray;
  transition-duration: 0.2s;
}

.modal__btn-close:hover {
  background-color: red;
}

.modal__btn-save {
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: dodgerblue;
  transition-duration: 0.2s;
}

.modal__btn-save:hover {
  background-color: green;
}
